In [53]:
import numpy as np
import pandas as pd
import datetime

In [9]:
#1
rry = np.arange(6, 101, 4)

In [10]:
print(rry)

[ 6 10 14 18 22 26 30 34 38 42 46 50 54 58 62 66 70 74 78 82 86 90 94 98]

In [11]:
#2
a = np.array([1,2,3,np.nan,5,6,7,np.nan])
print(a)

[ 1.  2.  3. nan  5.  6.  7. nan]

In [16]:
drop = a[~np.isnan(a)]

In [18]:
print(drop)

[1. 2. 3. 5. 6. 7.]

In [45]:
#3
np.random.randint(100, size=(5, 6))

array([[52, 65, 24, 18, 21, 56],
       [71, 59, 77, 96, 93, 68],
       [ 6, 98, 86, 45, 52, 62],
       [26, 29, 97, 24, 66, 86],
       [27, 21, 10, 19, 83, 85]])

In [48]:
#4
series = pd.Series(np.take(list('abcdefghijklmnop'), np.random.randint(16, size=500))).unique()

In [49]:
print(series)

['g' 'j' 'i' 'f' 'l' 'e' 'm' 'n' 'd' 'a' 'b' 'o' 'h' 'p' 'c' 'k']

In [51]:
#5
series2 = pd.Series(['01 Jan 2020', '10-19-2020', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])

In [64]:
series2.head(6)

0         01 Jan 2020
1          10-19-2020
2            20150303
3          2013/04/04
4          2012-05-05
5    2013-06-06T12:20
dtype: object

In [54]:
#6
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [61]:
df.head(6)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
5,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN,...,6.0,189.0,105.0,69.0,41.0,28.0,16.0,NaN,USA,Buick Century

In [66]:
df.shape

(93, 27)

In [69]:
df.rename(columns = {'Type':'TypeOfCar'}, inplace = True)

In [70]:
df.head(6)

,Manufacturer,Model,TypeOfCar,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
5,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN,...,6.0,189.0,105.0,69.0,41.0,28.0,16.0,NaN,USA,Buick Century

In [71]:
df.isnull().sum().sum()

138

In [72]:
#7
df.drop(columns=['EngineSize', 'Length'])

,Manufacturer,Model,TypeOfCar,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,13.2,5.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,18.0,5.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,16.9,5.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,21.1,6.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,21.1,4.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,21.1,7.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,18.5,5.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,18.5,4.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,15.8,5.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,19.3,5.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [73]:
#8
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

In [79]:
df_cd = pd.merge(df1, df2, how='inner')

In [80]:
print(df_cd)

    fruit  weight  price  pazham  kilo
0  banana  medium      4    pine  high
1  orange     low      6  orange  high
2  banana  medium      6  orange  high
3   apple    high      8  orange   low
4  orange     low      8  orange   low

In [81]:
df_cd.drop_duplicates()

    fruit  weight  price  pazham  kilo
0  banana  medium      4    pine  high
1  orange     low      6  orange  high
2  banana  medium      6  orange  high
3   apple    high      8  orange   low
4  orange     low      8  orange   low

In [82]:
#9
df8 = pd.DataFrame(["STD,City\tState",
"33,Kolkata\tWest Bengal",
"44,Chennai\tTamil Nadu",
"40,Hyderabad\tTelengana",
"80,Bangalore\tKarnataka"], columns=['row'])

In [86]:
df8.head(5)

                       row
0          STD,City\tState
1  33,Kolkata\tWest Bengal
2   44,Chennai\tTamil Nadu
3  40,Hyderabad\tTelengana
4  80,Bangalore\tKarnataka